<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Page</title>
  <link rel="stylesheet" href="accountpage.css">
</head>
<body>

    <div class="account-page">
      <div class="profile-header">
          <div class="avatar">avatar</div>

          <div class="user-info">
            <a class="edit-text" href="editprofile.html"> edit username etc</a>
          </div>

          <button class="edit-account-btn">edit account page</button>
      </div>

      <div class="account-banner">
          picture for account page illustration
      </div>

      <div class="posts-grid">
          <div class="post">posts</div>
          <div class="post">posts</div>
          <div class="post">posts</div>
          <div class="post">posts</div>
      </div>

    </div>
    <div class="sidebar">
      <div class="homebutton">
        <a href="mainpage.html">
            <img src="images/home button frame.png">
        </a>
        </div>
        <div class="tvicon">
          <a href="verificationforchatroulette.html" target="_blank">
              <img src="images\Tv icon.png">
          </a>
        </div>
        <div class="messagecion">
          <a href="personalchat.html">
            <img src="images\message icon.png">
          </a>
        </div>
        <div class="icon plus" id="openModal">+</div>
        <div class = "settings icon">
          <a href="settings.html" target="_blank">
              <img src="images/settings icon.png">
          </a>
      </div>
    </div>
    <div class="overlay" id="overlay">
      <div class="modal">
        <div class="modal-header">
          <span>Create Post</span>
          <span class="close-btn" id="closeModal">✕</span>
        </div>

        <div class="modal-body">
          <div class="upload-area">
            <div class="upload-icon">⬆</div>
            <div>Drag files here</div>
          </div>

          <label class="select-btn">
            Select from computer
            <input type="file">
          </label>
        </div>
      </div>
    </div>
  <script src="uploadingfile.js"></script>
</body>
</html>

