<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat roulette</title>
    <link rel="stylesheet" href="chatroulette.css">
</head>
<body>
    <div class="container">
        <div class="top-row">
            <div class="box"></div>
            <div class="box">
                <video id="camera" autoplay></video>
            </div>
        </div>

        <div class="bottom-section">
            <button>Stop<br>button</button>
            <button>Next<br>button</button>
        </div>

        <div class="textingbox">
            <input type="text" placeholder="messages">
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>