<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatroulette verification</title>
    <link rel="stylesheet" href="verificationforchatroulette.css">
</head>
<body>
    <section class = "main-section">
        <div class="container">
            <div class="verification-scann">
                <video id="camera" autoplay></video>
            </div>
            <div class="documents-uploading">
                <div class="uploadingbutton">
                    <label class="uploading-btn">upload files
                        <input type="file" id="fileinput" multiple accept=".pdf, .doc, .docx, .jpg, .png">
                    </label>
                    <div class="file-list" id="file-list"></div>
                </div>
                <button class="send-button"></button>
            </div>
        </div>
        <script src="verification.js"></script>
    </section>
</body>
</html>