body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.verification-scann {
    position: absolute;
    width: 350px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 12.5%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.documents-uploading {
    width: 500px;
    height: 200px;
    background-color: lightgray;
    margin-left: 36%;
}
.uploading-button {
    height: 30px;
    width: 50px;
    background-color: gray;
}
.send-button {
    margin-left: 90%;
    width: 40px;
    height: 15px;
    margin-top: 30%;
    background-color: lightgreen;
    border-radius: 10%;
    border-color: 0;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.active {
  display: flex;
}

/* MODAL */
.modal {
  width: 700px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
}

.modal-body {
  padding: 50px;
  text-align: center;
}

.upload-area {
  width: 220px;
  height: 220px;
  border: 2px dashed #ccc;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.select-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
}

input[type="file"] {
  display: none;
}
.verification-scann video {
    transform: scaleX(-1) !important;
}
